
body{background-color: #ffe6f7;
}




h1{
    color: palevioletred;
    font-size: 2.5em;
    padding: 20px;
}


#paragraph1{
    font-size: 60;
    font-family:Arial, Helvetica, sans-serif;
}

#paragraph2{
    font-size: 60; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px; 
}

.center{ 
    float: left;
    width: 33.33%
}


a:link, a:visited { 
    background-color: palevioletred;
    color:white;
    padding: 30px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
}

#PA{
    text-align: center;
}

#lastp{ font-size: 60;
    font-family:Arial, Helvetica, sans-serif;
}
